.column-layout {
    display: flex;
    flex-direction: column;
}
.home-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.view-container {
    overflow: auto;
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
}
