@page "/home/reset_password"
@inject NavigationManager NavigationManager

<div class="row-layout reset-password-container">
    <div class="row-layout left">
        <div class="column-layout group">
            <img src="assets/Travel-App-Color-Logo.svg" class="image" />
            <div class="column-layout group_1">
                <div class="column-layout group_2">
                    <h5 class="h5">
                        Reset password
                    </h5>
                    <p class="typography__body-2 text">
                        Please, type the email you have used for your your account registration. We are going to send you an activation link there where you can reset your password.
                    </p>
                </div>
                <div class="column-layout group_1">
                    <IgbInput DisplayType="InputType.Email" Label="Email address" Placeholder="myname@website.com" Outlined="false" class="input" reset_password-scope></IgbInput>
                </div>
            </div>
            <IgbButton DisplayType="ButtonBaseType.Button" @onclick="@(e => Navigate("/home/set_new_password"))" class="button" reset_password-scope>
                Send reset link
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
    <div class="row-layout right">
        <img src="assets/ResetPassword.jpg" class="image_1" />
    </div>
</div>

@code {

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
